@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create") <!--Allows you to create a new job.-->
</div>


@foreach (var job in Model) // Make a list of Jobs.
{
    <div>
        <h4>@job.Title</h4>
        <ul>
            <li>@job.Description</li>
        </ul>


        @if (job.Worker == null) // Display this element if there is no woker associated with this job.
        {
            <p>This job is unclaimed. @Html.ActionLink("Claim This Job", "Claim", new { @text = @job.Title, id = job.JobId })</p> <!--Route arguements-->
        }
        else
        {
            <div>This Job is claimed by @job.Worker.FirstName @job.Worker.LastName</div>
        }

    </div>


    <hr />
}

